POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=acm_website
POSTGRES_HOST=db

PORT=5001

S3_BUCKET_NAME=
S3_DEFAULT_IMAGE_PLACEHOLDER=default/image-placeholder.svg
S3_BUCKET_URL=
SQS_QUEUE_URL=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

ROLE_ARN=
