# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

# Server
PORT=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# AWS
AWS_REGION=
NOTIFICATION_SERVICE_QUEUE_URL=
S3_BUCKET_NAME=
S3_DEFAULT_IMAGE_PLACEHOLDER=
S3_BUCKET_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ROLE_ARN=
EMAIL_SENDER=
APPLICATION=

# Others
NODE_ENV=development
